name: buildfork

permissions:
  contents: read

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Cache
        uses: actions/cache@v4.2.2
        with:
          path: ~/.npm
          key: buildCache

      - run: npm ci

      - run: npm test -- --coverage
        env:
          CI: true

      - name: Upload code coverage
        uses: actions/upload-artifact@v4.6.2
        with:
          name: codecoverage
          path: coverage

      - name: build
        run: npm run build

      - name: Upload build files
        uses: actions/upload-artifact@v4.6.2
        with:
          name: build
          path: build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: production
      url: http://illustrious-help.surge.sh
    steps:
      - name: download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build

      - name: deploy to surge
        run: npx surge --project '.' --domain illustrious-help.surge.sh
        env:
          SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
